#lf-life-canvas {margin:10px;}

.lf-options-container {overflow:auto}
.lf-option {margin:10px;float:left;cursor:pointer;padding:10px;font-size:12px;font-family: "Arial", sans-serif;background:#dedede;border-radius:5px;}